---
import { Icon } from 'astro-icon/components'

import { knowledgeData } from '@/data/knowledge.data'
import { socialData } from '@/data/social.data'

interface Props {
  langText: {
    download: {
      title: string
      link: string
    }
  }
}

const { langText } = Astro.props
---

<section
  class="bg-secondary relative flex min-h-[550px] w-full flex-col items-center justify-center gap-12 px-4 md:px-0 lg:gap-0"
>
  <a
    href={langText.download.link}
    class="bg-primary relative flex items-center justify-center gap-1 rounded-lg border-[.5px] border-gray-500 p-2 font-roboto text-base tracking-tight text-white transition-all hover:scale-105 hover:bg-white/10 lg:absolute lg:top-10"
    target="_blank"
    rel="noreferrer"
  >
    <Icon name="file-download" size={18} class="text-white" />

    {langText.download.title}
  </a>

  <article class="flex flex-col items-center gap-4">
    <p
      class="bg-gradient-to-r from-emerald-600 from-55% to-green-400 bg-clip-text text-center font-roboto text-xl font-bold text-transparent sm:text-2xl md:text-5xl"
    >
      Front-End Developer
    </p>

    <h1
      class="text-center font-roboto text-3xl font-bold text-white md:text-5xl"
    >
      Frank Contreras
    </h1>

    <h2 class="text-center font-roboto text-base text-gray-400">
      +1 year of experience with React
    </h2>

    <ul class="flex flex-wrap justify-center gap-4">
      {
        Object.entries(knowledgeData).map(([key, { color }]) => (
          <li>
            <Icon name={key} size={24} class={color} />
          </li>
        ))
      }
    </ul>

    <ul class="mt-8 grid w-full grid-cols-2 gap-4 sm:w-[unset]">
      {
        Object.entries(socialData).map(([_, { title, link }]) => (
          <li class="w-full">
            <a
              href={link}
              class="flex w-full items-center justify-center gap-1 rounded-lg bg-emerald-700 p-2 font-roboto text-sm tracking-tight text-white transition-all hover:scale-105 hover:bg-emerald-800 sm:min-w-[15ch]"
              target="_blank"
              rel="noreferrer"
            >
              {title}

              <Icon name="external-link" size={14} />
            </a>
          </li>
        ))
      }
    </ul>
  </article>

  <Icon
    name="arrow-down"
    size={48}
    class="relative animate-bounce text-white lg:absolute lg:bottom-4"
  />
</section>
